extends layout

block mainContent
  #chat_container
    #recent_messages
    #chat_input
      p Type your message here and click "Submit"
      textarea("cols=50", "rows="5")
      button#submit Submit
